<p id="notice"><%= notice %></p>

<h1>Book Format Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Physical</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_format_types.each do |book_format_type| %>
      <tr>
        <td><%= book_format_type.name %></td>
        <td><%= book_format_type.physical %></td>
        <td><%= link_to 'Show', book_format_type %></td>
        <td><%= link_to 'Edit', edit_book_format_type_path(book_format_type) %></td>
        <td><%= link_to 'Destroy', book_format_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Format Type', new_book_format_type_path %>
